<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BaseScriptPath" value="C:\AS\AS-4X-21.03.23\BankScript"/>
    <add key="VersionPath" value="C:\AS\Versions-21.03.23"/>
    <add key="BankCode" value="AM"/>
    <add key="MergeTool" value="C:\Program Files (x86)\WinMerge\WinMergeU.exe"/>
  </appSettings>

  <connectionStrings>
    <add name="test" connectionString="Data Source=(local);Initial Catalog=BANK_CODE_210323;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <add name="real" connectionString="Data Source=(local);Initial Catalog=BANK_CODE_REAL;Persist Security Info=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
